@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.footer p, .main__card-footer, .main__card-title, .navigation__link a, .header p {
  text-shadow: 0 0 5px black;
}

body {
  font-family: Merriweather;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container-navigation {
  height: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

.wrapper {
  min-height: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/header/yager0.jpg") 0 0/33.33% 100% repeat-x;
  border: 3px solid #160277;
  overflow: hidden;
  height: 85px;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 425px) {
  .header {
    background-size: 25% 100%;
    height: 95px;
  }
}
@media (min-width: 768px) {
  .header {
    background-size: 20% 100%;
    height: 110px;
  }
}
.header p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  background: rgba(22, 2, 119, 0.9);
  border-radius: 10px;
  padding: 7px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}
@media (min-width: 375px) {
  .header p {
    font-size: 21px;
  }
}
@media (min-width: 425px) {
  .header p {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .header p {
    font-size: 26px;
  }
}
.header p::before {
  content: "";
  display: inline-block;
  background: url("../img/header/smile1.svg") 0 0/18px no-repeat;
  margin: 0 3px 0 0;
  height: 18px;
  width: 18px;
}
@media (min-width: 375px) {
  .header p::before {
    background-size: 21px;
    height: 21px;
    width: 21px;
  }
}
@media (min-width: 425px) {
  .header p::before {
    background-size: 25px;
    height: 25px;
    width: 25px;
  }
}
@media (min-width: 768px) {
  .header p::before {
    background-size: 26px;
    height: 26px;
    width: 26px;
  }
}
.header p::after {
  content: "";
  display: inline-block;
  background: url("../img/header/smile2.svg") 0 0/18px no-repeat;
  margin: 0 0 0 3px;
  height: 18px;
  width: 18px;
}
@media (min-width: 375px) {
  .header p::after {
    background-size: 21px;
    height: 21px;
    width: 21px;
  }
}
@media (min-width: 425px) {
  .header p::after {
    background-size: 25px;
    height: 25px;
    width: 25px;
  }
}
@media (min-width: 768px) {
  .header p::after {
    background-size: 26px;
    height: 26px;
    width: 26px;
  }
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #160277;
  width: 100%;
  height: 50px;
}
.navigation__raw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  height: 100%;
  max-width: 100%;
}
.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.navigation__link:last-child a {
  border-right: none;
}
.navigation__link a {
  border-right: 1px solid white;
  padding: 0 10px;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1px;
  color: white;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}
.navigation__link a:hover {
  color: #dadd44;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}
.navigation__link a:active {
  color: #75ba28;
}
@media (min-width: 375px) {
  .navigation__link a {
    font-size: 21px;
  }
}

.main {
  border: 2px solid #160277;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2eff7), color-stop(50%, #e4dee8), to(#f7f7f7));
  background: linear-gradient(to bottom, #f2eff7 0%, #e4dee8 50%, #f7f7f7 100%);
  padding: 5px 0;
}
.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1024px) {
  .main__row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.main__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #dcdae0;
  border: 2px solid #0d0533;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 10px;
  min-height: 250px;
  width: 250px;
}
@media (min-width: 375px) {
  .main__card {
    min-height: 280px;
  }
}
@media (min-width: 425px) {
  .main__card {
    min-height: 330px;
    width: 280px;
  }
}
@media (min-width: 1024px) {
  .main__card {
    min-height: 450px;
    width: 340px;
  }
}
.main__card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  background: #160277;
  border-bottom: 2px solid #0d0533;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
@media (min-width: 375px) {
  .main__card-title {
    font-size: 21px;
    height: 55px;
  }
}
@media (min-width: 1024px) {
  .main__card-title {
    font-size: 21px;
    height: 60px;
  }
}
.main__card-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 13px 5px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: #160277;
  text-shadow: 0 0 2px black;
  -webkit-transition: color 300ms ease-out 0s, font-weight 600ms ease-out 0s;
  transition: color 300ms ease-out 0s, font-weight 600ms ease-out 0s;
}
@media (min-width: 375px) {
  .main__card-content {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .main__card-content {
    font-size: 26px;
  }
}
.main__card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  background: #160277;
  border-top: 2px solid #0d0533;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  color: white;
}
@media (min-width: 375px) {
  .main__card-footer {
    font-size: 21px;
    height: 55px;
  }
}
@media (min-width: 1024px) {
  .main__card-footer {
    font-size: 21px;
    height: 60px;
  }
}

.generator__button {
  -webkit-transition-property: all, background;
  transition-property: all, background;
  -webkit-transition-duration: 500ms, 200ms;
          transition-duration: 500ms, 200ms;
}
.generator__button:hover {
  background: #42bfc3;
}
.generator__button:active {
  background: #07d516;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  background: #160277;
}
@media (min-width: 1024px) {
  .footer {
    height: 50px;
  }
}
.footer p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}
@media (min-width: 375px) {
  .footer p {
    font-size: 21px;
  }
}