@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.footer p, .header p {
  text-shadow: 0 0 5px black;
}

body {
  font-family: Merriweather;
}

.container {
  max-width: 100%;
  padding: 0 10px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #160277;
  overflow: hidden;
  background: url("../img/header/yager0.jpg") 0 0/33.33% 100% repeat-x;
  height: 85px;
}
@media (min-width: 550px) {
  .header {
    background-size: 25% 100%;
  }
}
@media (min-width: 768px) {
  .header {
    background-size: 20% 100%;
  }
}
@media (min-width: 375px) {
  .header {
    border: 4px solid #160277;
  }
}
@media (min-width: 425px) {
  .header {
    border: 5px solid #160277;
  }
}
.header p {
  position: relative;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background: rgba(22, 2, 119, 0.9);
  padding: 7px 10px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}
@media (min-width: 375px) {
  .header p {
    font-size: 22px;
    letter-spacing: 2px;
  }
}
@media (min-width: 425px) {
  .header p {
    font-size: 25px;
    letter-spacing: 2px;
  }
}
.header p::before {
  content: "";
  display: inline-block;
  background: url("../img/header/smile1.svg") 0 0/18px no-repeat;
  margin: 0 3px 0 0;
  height: 18px;
  width: 18px;
}
@media (min-width: 375px) {
  .header p::before {
    background-size: 20px auto;
    height: 20px;
    width: 20px;
  }
}
@media (min-width: 425px) {
  .header p::before {
    background-size: 25px auto;
    height: 25px;
    width: 25px;
  }
}
.header p::after {
  content: "";
  display: inline-block;
  background: url("../img/header/smile2.svg") 0/18px no-repeat;
  margin: 0 0 0 3px;
  height: 18px;
  width: 18px;
}
@media (min-width: 375px) {
  .header p::after {
    background-size: 20px auto;
    height: 20px;
    width: 20px;
  }
}
@media (min-width: 425px) {
  .header p::after {
    background-size: 25px auto;
    height: 25px;
    width: 25px;
  }
}

.navigation {
  background: #160277;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}
.navigation__raw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
  height: 30px;
  margin: 0 -10px;
}
.navigation__link {
  border-right: 1px solid #100354;
  letter-spacing: 1px;
  font-size: 18px;
  font-style: italic;
  padding: 0 10px;
  color: white;
}
.navigation__link:hover {
  color: #dadd44;
}
.navigation__link:active {
  color: #75ba28;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2eff7), color-stop(50%, #e4dee8), to(#f7f7f7));
  background: linear-gradient(to bottom, #f2eff7 0%, #e4dee8 50%, #f7f7f7 100%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  background: #160277;
  text-align: center;
}
.footer p {
  letter-spacing: 2px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}