// ================================================================================
// ========================= Стили элементов ======================================
// ================================================================================
@import "style_elements/nullstyle.scss";
@import "style_elements/tech.scss";
@import "style_elements/header.scss";
@import "style_elements/nav.scss";
@import "style_elements/footer.scss";
@import "style_elements/main.scss";
@import "style_elements/music.scss";

@import "style_elements/index/old.scss";
// ================================================================================
// ============================== Стили ===========================================
// ================================================================================
body {
	&.lock {
		overflow: hidden;
	}
}

.container {
	max-width: 930px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	// overflow: hidden;
}
// ================================================================================
// =============================== Основная часть =================================
// ================================================================================
.gen {
	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		align-items: center;
	}

	&__uniq {
		color: rgb(203, 12, 12);
	}

	&__random {
		@media (max-width: 550px) {
			display: flex;
			flex-direction: column;
			span {
				margin: 5px 0;
				text-align: center;
			}
		}
	}

	&__button {
		position: relative;
		top: 0;
		margin: 10px 0;
		padding: 5px 10px;
		z-index: 0;

		@include adaptiv-font(22, 17);
		font-weight: bold;
		font-style: italic;
		letter-spacing: 2px;
		transition-duration: 400ms;
		transition-delay: 0s;

		background: rgb(229, 229, 233);
		border: 1px solid $head-color;
		color: $head-color;
		border-radius: 20px;
		box-shadow: 0 3px 0 rgba(0, 0, 0, 0.66);
		&:hover {
			transition-duration: 200ms;
			top: 2px;
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.66);
			background: rgba(210, 221, 17, 0.94);
		}
		&:active {
			background: rgb(66, 191, 195);
		}
	}

	&__footer {
		display: none;
	}
}
// ================================================================================
// ================================= Редкости =====================================
// ================================================================================

.arcane,
.rare,
.common {
	border-radius: 20px;
	padding: 3px 10px;
	box-shadow: 0 0 3px black;
	transition: all 300ms ease 0s;
	// box-shadow: 0 0 4px black;
}

.arcane {
	background: rgb(255, 17, 17);
	border: 2px solid rgb(245, 230, 27);
	color: rgb(245, 230, 27);
}

.rare {
	background: rgb(28, 17, 255);
	border: 2px solid rgb(23, 207, 240);
	color: rgb(23, 207, 240);
}

.common {
	background: rgb(158, 158, 158);
	border: 2px solid rgb(216, 223, 220);
	color: rgb(216, 223, 220);
}
