// ================================================================================
// ================================ Шрифты ========================================
// ================================================================================
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');
// ================================================================================
// ========================== Какие-то готовые записи =============================
// ================================================================================
%vid {
	background: rgba(255, 0, 0, 0.15);
	outline: 1px solid blue;
}
%tshadow {
	text-shadow: 0 0 5px rgb(0, 0, 0);
}
// ================================================================================
// ============================= Миксины ==========================================
// ================================================================================
$maxWidth: 1024;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
@mixin adaptiv-h-w-smiles($pcSize1, $mobSize1) {
	$addSize1: $pcSize1 - $mobSize1;
	$maxWidth: $maxWidth - 320;
	width: calc(#{$mobSize1 + px} + #{$addSize1} * ((100vw - 320px) / #{$maxWidth}));
	height: calc(#{$mobSize1 + px} + #{$addSize1} * ((100vw - 320px) / #{$maxWidth}));
}
// ================================================================================
// ============================= Переменные =======================================
// ================================================================================
$head-color: rgb(22, 2, 119);
$card-board-color: rgb(101, 100, 100);

$fsz-title: 20px;
$fsz-title-375: 21px;
$fsz-title-425: 25px;
$fsz-title-768: 26px;

$fsz-content: 17px;
$fsz-content-375: 24px;
$fsz-content-425: 24px;
$fsz-content-768: 26px;
// ================================================================================
// ========================= Стили элементов ======================================
// ================================================================================
@import "nullstyle.scss";

@import "style_elements/old.scss";
@import "style_elements/header.scss";
@import "style_elements/nav.scss";
@import "style_elements/footer.scss";
// ================================================================================
// ============================== Стили ===========================================
// ================================================================================
body {
	font-family: Merriweather;
	&.lock {
		overflow: hidden;
	}
}

.container {
	max-width: 930px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	// overflow: hidden;
}
// ================================================================================
// =============================== Основная часть =================================
// ================================================================================
.main {
	padding: 131px 0 0 0;
	flex: 1 1 auto;
	background: linear-gradient(to bottom, rgba(242,239,247,1) 0%,rgba(228,222,232,1) 50%,rgba(247,247,247,1) 100%);
	&__row {
		display: flex;
		flex-direction: column;
	}
}

.card {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	background: rgba(220, 218, 224, 1);
	border-radius: 10px;
	overflow: hidden;
	margin: 10px 0;
	box-shadow: 2px 2px 3px black;
	&__title {
		padding: 6px 10px;
		background: rgb(161, 158, 184);
		p {
			text-align: center;
			font-size: $fsz-title;
			font-weight: bold;
			color: rgb(255, 255, 255);
			@extend %tshadow;

			@media (min-width: 375px) {
				font-size: $fsz-title-375;
			}
			@media (min-width: 1024px) {
				font-size: $fsz-title-375;
			}
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		padding: 10px 20px;
		p {
			font-size: $fsz-content;
			line-height: $fsz-content+4;
			margin: 5px 0;
			font-style: italic;
			color: $head-color;
			text-shadow: 0 0 2px black;
			transition: color 300ms ease-out 0s, font-weight 600ms ease-out 0s;
			@media (min-width: 375px) {
				font-size: $fsz-content-375;
				line-height: $fsz-content-375+4;
			}
			@media (min-width: 768px) {
				font-size: $fsz-content-768;
				line-height: $fsz-content-768+5;
			}
		}
	}
	&__footer {
		background: rgb(161, 158, 184);
		padding: 6px 10px;

		text-align: center;
		font-weight: bold;
		font-size: $fsz-title;
		color: rgb(255, 255, 255);
		@extend %tshadow;

		@media (min-width: 375px) {
			font-size: $fsz-title-375;
		}
		@media (min-width: 1024px) {
			font-size: $fsz-title-375;
		}
	}
}

.gen {

	&__content {
		align-items: center;
	}

	&__uniq {
		color: rgb(203, 12, 12);
	}

	&__random {
		@media (max-width: 550px) {
			display: flex;
			flex-direction: column;
			span {
				margin: 5px 0;
				text-align: center;
			}
		}
	}

	&__button {
		position: relative;
		top: 0;
		margin: 10px 0;
		padding: 5px 0;
		width: 120px;
		z-index: 0;

		font-size: $fsz-content;
		font-weight: bold;
		font-style: italic;
		letter-spacing: 2px;
		transition-duration: 400ms;
		transition-delay: 0s;

		background: rgb(229, 229, 233);
		border: 1px solid $head-color;
		color: $head-color;
		border-radius: 20px;
		box-shadow: 0 3px 0 rgba(0, 0, 0, 0.66);
		&:hover {
			transition-duration: 200ms;
			top: 2px;
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.66);
			background: rgba(224, 186, 21, 0.57);
		}
		&:active {
			background: rgb(66, 191, 195);
		}

	}

	&__footer {
		display: none;
	}

}
// ================================================================================
// ================================= Редкости =====================================
// ================================================================================

.arcane, .rare, .common {
	border-radius: 20px;
	padding: 3px 10px;
	transition: all 300ms ease 0s;
	// box-shadow: 0 0 4px black;
}

.arcane {
	background: rgb(255, 17, 17);
	border: 2px solid rgb(245, 230, 27);
	color: rgb(245, 230, 27);
}

.rare {
	background: rgb(28, 17, 255);
	border: 2px solid rgb(23, 207, 240);
	color: rgb(23, 207, 240);
}

.common {
	background: rgb(158, 158, 158);
	border: 2px solid rgb(216, 223, 220);
	color: rgb(216, 223, 220);
}
