.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	background: $head-color;

	@media (min-width: 1024px) {
		height: 50px;
	}
	p {
		text-align: center;
		font-size: $fsz-title;
		font-weight: bold;
		letter-spacing: 2px;
		color: rgb(255, 255, 255);
		@extend %tshadow;

		@media (min-width: 375px) {
			font-size: $fsz-title-375;
		}
	}
}
