@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');
// ================================================================================
// Файл обнуляющих стилей
@import "nullstyle.scss";
// ================================================================================
$head-color: rgb(22, 2, 119);
$card-board-color: rgb(101, 100, 100);

$fsz-title: 20px;
$fsz-title-375: 21px;
$fsz-title-425: 25px;
$fsz-title-768: 26px;

$fsz-content: 17px;
$fsz-content-375: 24px;
$fsz-content-425: 24px;
$fsz-content-768: 26px;
// ================================================================================
%vid {
	background: rgba(255, 0, 0, 0.15);
	outline: 1px solid blue;
}
%tshadow {
	text-shadow: 0 0 5px rgb(0, 0, 0);
}
// ================================================================================
body {
	font-family: Merriweather;
	&.lock {
		overflow: hidden;
	}
}

.container {
	// flex: 1 1 auto;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 15px;

	@media (min-width: 768px) {
		max-width: 768px;
	}
	@media (min-width: 1024px) {
		max-width: 1024px;
	}
}
// ================================================================================
.wrapper {
	min-height: 100%;
	// max-width: 100%;
	display: flex;
	flex-direction: column;
	// overflow: hidden;
}
// ================================================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	background: url("../img/header/yager0.jpg") 0 0 / contain round;
	border: 3px solid $head-color;
	z-index: 20;
	// overflow: hidden;
	// height: 85px;

	&__row {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 85px;
	}
	&__text {
		p {
			display: flex;
			// position: relative;
			background: rgba(22, 2, 119, 0.85);
			border-radius: 20px;
			padding: 7px 20px;

			// align-items: center;
			text-align: center;
			font-size: $fsz-title;
			font-weight: 700;
			letter-spacing: 1px;
			color: rgb(255, 255, 255);
			@extend %tshadow;

			@media (min-width: 375px) {
				font-size: $fsz-title-375;
			}
			@media (min-width: 425px) {
				font-size: $fsz-title-425;
			}
			@media (min-width: 768px) {
				font-size: $fsz-title-768;
			}


			&::before {
				content: "";
				display: inline-block;
				background: url("../img/header/smile1.svg") 0 0/18px no-repeat;
				margin: 0 3px 0 0;
				height: 18px;
				width: 18px;

				@media (min-width: 375px) {
					background-size: $fsz-title-375;
					height: $fsz-title-375;
					width: $fsz-title-375;
				}
				@media (min-width: 425px) {
					background-size: $fsz-title-425;
					height: $fsz-title-425;
					width: $fsz-title-425;
				}
				@media (min-width: 768px) {
					background-size: $fsz-title-768;
					height: $fsz-title-768;
					width: $fsz-title-768;
				}
			}
			&::after {
				content: "";
				display: inline-block;
				background: url("../img/header/smile2.svg") 0 0/18px no-repeat;
				margin: 0 0 0 3px;
				height: 18px;
				width: 18px;

				@media (min-width: 375px) {
					background-size: $fsz-title-375;
					height: $fsz-title-375;
					width: $fsz-title-375;
				}
				@media (min-width: 425px) {
					background-size: $fsz-title-425;
					height: $fsz-title-425;
					width: $fsz-title-425;
				}
				@media (min-width: 768px) {
					background-size: $fsz-title-768;
					height: $fsz-title-768;
					width: $fsz-title-768;
				}
			}
		}
	}

}
// ================================================================================
.navigation {
	position: fixed;
	top: 91px;
	left: 0;
	width: 100%;
	z-index: 10;
	&::before {
		content: "";
		background: $head-color;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	// height: 35px;
	&__raw {
		position: relative;
		display: flex;
		align-items: center;
		height: 40px;
		@media (max-width: 768px) {
			justify-content: flex-start;
		}
		// height: 100%;
		// max-width: 100%;
	}

	&__burger {
		display: none;
		@media (max-width: 768px) {
			display: block;
			position: relative;
			top: 0;
			left: 0;
			width: 30px;
			height: 20px;
			z-index: 1;

			&::before, &::after {
				content: "";
				background: rgb(255, 255, 255);
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				transition: all 300ms ease 0s;
			}
			&::before {
				top: 0;

			}
			&::after {
				bottom: 0;
			}
			span {
				background: rgb(255, 255, 255);
				position: absolute;
				left: 0;
				top: 9px;
				width: 100%;
				height: 2px;
				transition: all 300ms ease 0s;
			}

			&.active {
        &::before {
          transform: rotate(45deg);
          top: 9px;
        }
        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
        span {
          transform: scale(0);
        }
			}
		}
	}

	&__menu {
		display: flex;
		overflow: auto;
		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: flex-start;
			// align-items: center;
			position: fixed;
			padding: 50px 0 75px 15px;
			top: 91px;
			left: -100%;
			width: 200px;
			height: 100%;
			background: rgba(22, 2, 119, 0.95);
			transition: left 300ms ease-in-out 0s;
			&.active {
				left: 0;
			}
		}
	}
	&__link {
		flex: 1 0 auto;
		z-index: 1;
		@media (max-width: 768px) {
			position: relative;
			flex: none;
			margin: 0 0 30px 0;
			&:nth-child(1)::after {
				content: "";
				position: absolute;
				top: 2px;
				margin: 0 0 0 5px;
				background: url("../img/navigation/random.svg") 0 0 / auto 100% no-repeat;
				width: $fsz-content+3;
				height: $fsz-content+3;
			}
		}
		margin: 10px 0;

		&:last-child {
			a {
				border-right: none;
			}
		}
		&:first-child {
			a {
				border-left: none;
			}
		}
		a {
			@media (max-width: 768px) {
				border: none;
				border-bottom: 1px solid white;
				padding: 0 0 10px 0;
			}
			// display: block;
			border-right: 1px solid white;
			border-left: 1px solid white;
			padding: 0 10px;
			// margin: 0 0 0 -10px;

			font-size: $fsz-content;
			font-style: italic;
			letter-spacing: 1px;
			color: white;
			@extend %tshadow;

			transition: color 800ms ease 0s;
			&:hover {
				color: rgb(218, 221, 68);
				transition-duration: color 200ms ease 0s;
			}
			&:active {
				color: rgb(117, 186, 40);
			}

			@media (min-width: 375px) {
				font-size: $fsz-title-375;
			}
		}
	}
}
// ================================================================================

.main {
	// border: 2px solid $head-color;
	padding: 131px 0 0 0;
	flex: 1 1 auto;
	background: linear-gradient(to bottom, rgba(242,239,247,1) 0%,rgba(228,222,232,1) 50%,rgba(247,247,247,1) 100%);
	&__row {
		display: flex;
		flex-direction: column;
	}
	&__card {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		background: rgba(220, 218, 224, 1);
		border: 2px solid $card-board-color;
		border-radius: 10px;
		overflow: hidden;
		margin: 10px 0;
		// min-height: 250px;
		// width: 100%;

		@media (min-width: 375px) {
			// flex: 1 0 280px;
		}
		@media (min-width: 425px) {
			// flex: 1 0 330px;
		}
		@media (min-width: 1024px) {
			// flex: 1 0 450px;
		}

		&-title {
			// display: flex;
			// text-align: center;
			// align-items: center;
			// height: 50px;
			// width: 100%;
			padding: 6px 10px;
			background: rgb(161, 158, 184);
			border-bottom: 1px solid $card-board-color;
			p {
			text-align: center;
			font-size: $fsz-title;
			font-weight: bold;
			color: rgb(255, 255, 255);
			@extend %tshadow;

			@media (min-width: 375px) {
				font-size: $fsz-title-375;
			}
			@media (min-width: 1024px) {
				font-size: $fsz-title-375;
			}
			}
		}
		&-content {
			display: flex;
			flex-direction: column;
			flex: 1 0 auto;
			padding: 10px 20px;
			// width: 100%;
			p {
				font-size: $fsz-content;
				line-height: $fsz-content+4;
				margin: 5px 0;
				font-style: italic;
				color: $head-color;
				text-shadow: 0 0 2px black;
				transition: color 300ms ease-out 0s, font-weight 600ms ease-out 0s;
				@media (min-width: 375px) {
					font-size: $fsz-content-375;
					line-height: $fsz-content-375+4;
				}
				@media (min-width: 768px) {
					font-size: $fsz-content-768;
					line-height: $fsz-content-768+5;
				}
			}
			// text-align: center;
		}
		&-footer {
			// display: flex;
			// justify-content: center;
			// align-items: center;
			// height: 50px;
			// width: 100%;
			background: rgb(161, 158, 184);
			border-top: 1px solid $card-board-color;
			padding: 6px 10px;

			text-align: center;
			// letter-spacing: 1px;
			font-weight: bold;
			font-size: $fsz-title;
			color: rgb(255, 255, 255);
			@extend %tshadow;

			@media (min-width: 375px) {
				font-size: $fsz-title-375;
			}
			@media (min-width: 1024px) {
				font-size: $fsz-title-375;
			}
		}
	}
}
// ================================================================================
.gen {
	// display: flex;
	// flex-direction: column;
	&__button {
		position: relative;
		top: 0;
		margin: 10px 0;
		padding: 5px 0;
		width: 120px;
		z-index: 0;

		font-size: $fsz-content;
		font-weight: bold;
		font-style: italic;
		letter-spacing: 2px;
		transition-duration: 400ms;
		transition-delay: 0s;

		background: rgb(229, 229, 233);
		border: 1px solid $head-color;
		color: $head-color;
		border-radius: 20px;
		box-shadow: 0 3px 0 rgba(0, 0, 0, 0.66);
		&:hover {
			transition-duration: 200ms;
			top: 2px;
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.66);
			background: rgba(224, 186, 21, 0.57);
		}
		&:active {
			background: rgb(66, 191, 195);
		}
	}

	&__chance-1 {
		// display: none;
	}

	&__chance-2 {
		display: none;
		color: rgb(203, 12, 12);
	}

	&__random {
		display: none;
		// color: rgb(203, 12, 12);
	}

	&__footer {
		display: none;
	}

}
// ================================================================================

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	background: $head-color;

	@media (min-width: 1024px) {
		height: 50px;
	}
	p {
		text-align: center;
		font-size: $fsz-title;
		font-weight: bold;
		letter-spacing: 2px;
		color: rgb(255, 255, 255);
		@extend %tshadow;

		@media (min-width: 375px) {
			font-size: $fsz-title-375;
		}
	}
}
// ================================================================================
